/* styles/RegisterModal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.closeButton {
  float: right;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modalContent form {
  display: flex;
  flex-direction: column;
}

.modalContent label {
  margin-bottom: 10px;
}

.modalContent input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.modalContent button[type="submit"] {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}